# Auto detect text files and perform LF normalization
* text=auto
AlibababeforeRecipeF[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
AlibababeforeRecipeFallback.asset filter=lfs diff=lfs merge=lfs -text
